/* Remedy/Cure styles */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* App styles */

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    padding: 0.5em;
    font-size: 12em;
}